<div class="card mb-3">
	<div class="card-body">
		<div class="card-title">
			<h5 class="res-title" data-pn="{{ result.id }}">
				{{ result.title }}
			</h5>
		</div>
		<p class="card-text res-bib">
			<span class="mr-3">{{ result.owner }}</span>
			<span class="mr-3">{{ result.publication_date }}</span>
			<a href="{{ result.www_link }}"
				target="_blank"
				class="mr-3 ext-link"
				data-pn="{{ result.id }}">
				{{ result.publication_id }}
			</a>
			<a href="#"
				class="more-like-result-btn mr-3"
				data-pn="{{ result.id }}">
				Show more like result
			</a>
		</p>
		<p class="card-text res-snippet">
			{{{ result.abstract }}}
		</p>
		<table class="table table-responsive table-inverse mapping-table">
			<thead>
				<tr>
					<th style='text-align: left'>Query elements</th>
					<th style='text-align: left'>Reference text</th>
					<th style='text-align: left'>Similarity</th>
				</tr>
			</thead>
			<tbody>
				{{#each result.mapping}}
				<tr>
					<td style='vertical-align: top'>{{this.element}}</td>
					<td style='vertical-align: top'>{{this.mapping}}</td>
					<td style='vertical-align: top'>{{floatToPercentage this.similarity}}%</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>