<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="card mt-2 mb-2 patent">
				<div class="card-body">
					<h4 class="card-title">
						{{datapoint.patent.publicationNumber}}
					</h4>
					<p class="card-text">
						<p class='title'>{{datapoint.patent.title}}</p>
						<p class='abstract hidden'>{{datapoint.patent.abstract}}</p>
					</p>
					<a
						href="https://patents.google.com/patent/{{datapoint.patent.publicationNumber}}"
						target="_blank">
							View
					</a>
				</div>
			</div>
		</div>
	
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="card mb-2 mt-2 {{datapoint.all.0.role}}">
				<div class="card-body">
					<h4 class="card-title">{{datapoint.all.0.publicationNumber}}</h4>
					<p class="card-text title">{{datapoint.all.0.title}}</p>
					<p class="card-text abstract hidden">{{datapoint.all.0.abstract}}</p>
					<a href="https://patents.google.com/patent/{{datapoint.all.0.publicationNumber}}"
						target="_blank">View</a>
				</div>
			</div>
			<div class="card mb-2 mt-2 {{datapoint.all.1.role}}">
				<div class="card-body">
					<h4 class="card-title">{{datapoint.all.1.publicationNumber}}</h4>
					<p class="card-text title">{{datapoint.all.1.title}}</p>
					<p class="card-text abstract hidden">{{datapoint.all.1.abstract}}</p>
					<a href="https://patents.google.com/patent/{{datapoint.all.1.publicationNumber}}"
						target="_blank">View</a>
				</div>
			</div>
			<div class="card mb-2 mt-2 {{datapoint.all.2.role}}">
				<div class="card-body">
					<h4 class="card-title">{{datapoint.all.2.publicationNumber}}</h4>
					<p class="card-text title">{{datapoint.all.2.title}}</p>
					<p class="card-text abstract hidden">{{datapoint.all.2.abstract}}</p>
					<a href="https://patents.google.com/patent/{{datapoint.all.2.publicationNumber}}"
						target="_blank">View</a>
				</div>
			</div>
			<div class="card mb-2 mt-2 {{datapoint.all.3.role}}">
				<div class="card-body">
					<h4 class="card-title">{{datapoint.all.3.publicationNumber}}</h4>
					<p class="card-text title">{{datapoint.all.3.title}}</p>
					<p class="card-text abstract hidden">{{datapoint.all.3.abstract}}</p>
					<a href="https://patents.google.com/patent/{{datapoint.all.3.publicationNumber}}"
						target="_blank">View</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card mb-2 mt-2 {{datapoint.all.4.role}}">
				<div class="card-body">
					<h4 class="card-title">{{datapoint.all.4.publicationNumber}}</h4>
					<p class="card-text title">{{datapoint.all.4.title}}</p>
					<p class="card-text abstract hidden">{{datapoint.all.4.abstract}}</p>
					<a href="https://patents.google.com/patent/{{datapoint.all.4.publicationNumber}}"
						target="_blank">View</a>
				</div>
			</div>
			<div class="card mb-2 mt-2 {{datapoint.all.5.role}}">
				<div class="card-body">
					<h4 class="card-title">{{datapoint.all.5.publicationNumber}}</h4>
					<p class="card-text title">{{datapoint.all.5.title}}</p>
					<p class="card-text abstract hidden">{{datapoint.all.5.abstract}}</p>
					<a href="https://patents.google.com/patent/{{datapoint.all.5.publicationNumber}}"
						target="_blank">View</a>
				</div>
			</div>
			<div class="card mb-2 mt-2 {{datapoint.all.6.role}}">
				<div class="card-body">
					<h4 class="card-title">{{datapoint.all.6.publicationNumber}}</h4>
					<p class="card-text title">{{datapoint.all.6.title}}</p>
					<p class="card-text abstract hidden">{{datapoint.all.6.abstract}}</p>
					<a href="https://patents.google.com/patent/{{datapoint.all.6.publicationNumber}}"
						target="_blank">View</a>
				</div>
			</div>
			<div class="card mb-2 mt-2 {{datapoint.all.7.role}}">
				<div class="card-body">
					<h4 class="card-title">{{datapoint.all.7.publicationNumber}}</h4>
					<p class="card-text title">{{datapoint.all.7.title}}</p>
					<p class="card-text abstract hidden">{{datapoint.all.7.abstract}}</p>
					<a href="https://patents.google.com/patent/{{datapoint.all.7.publicationNumber}}"
						target="_blank">View</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card mb-2 mt-2 {{datapoint.all.8.role}}">
				<div class="card-body">
					<h4 class="card-title">{{datapoint.all.8.publicationNumber}}</h4>
					<p class="card-text title">{{datapoint.all.8.title}}</p>
					<p class="card-text abstract hidden">{{datapoint.all.8.abstract}}</p>
					<a href="https://patents.google.com/patent/{{datapoint.all.8.publicationNumber}}"
						target="_blank">View</a>
				</div>
			</div>
			<div class="card mb-2 mt-2 {{datapoint.all.9.role}}">
				<div class="card-body">
					<h4 class="card-title">{{datapoint.all.9.publicationNumber}}</h4>
					<p class="card-text title">{{datapoint.all.9.title}}</p>
					<p class="card-text abstract hidden">{{datapoint.all.9.abstract}}</p>
					<a href="https://patents.google.com/patent/{{datapoint.all.9.publicationNumber}}"
						target="_blank">View</a>
				</div>
			</div>
			<div class="card mb-2 mt-2 {{datapoint.all.10.role}}">
				<div class="card-body">
					<h4 class="card-title">{{datapoint.all.10.publicationNumber}}</h4>
					<p class="card-text title">{{datapoint.all.10.title}}</p>
					<p class="card-text abstract hidden">{{datapoint.all.10.abstract}}</p>
					<a href="https://patents.google.com/patent/{{datapoint.all.10.publicationNumber}}"
						target="_blank">View</a>
				</div>
			</div>
		</div>
	</div>
</div>